<!DOCTYPE html>
<html lang="en">
  <head>
    <meta></meta>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="icon" href="favicon.ico" type="image/png">
    <link rel="stylesheet" href="/lib/bootstrap/slate/bootstrap.css">
    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js"></script>
  </head>
  <body>
    <%- menu %>
    <%- contents %>
    <script>
		<%- script %>
		window.history.pushState('Home', 'Home', '/');
    </script>
  </body>
</html>
